@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #3b82f6; /* Default color */
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

.color-picker {
  border-radius: 50%;
}

/* DarkLightToggleButton css**************************************************** */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch .checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* box-shadow: 1px 1px 5px 0 rgb(216, 79, 104) inset; */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
 
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* box-shadow: inset 1px 1px 2px 0px rgb(255, 124, 167); */
}

.checkbox:checked + .slider {
  box-shadow: 1px 1px 5px 0 rgb(42, 157, 143) inset;
}

.checkbox:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  /* background-color: #2a9d8f; */
  box-shadow: inset -1px 1px 2px 0px #a3fff4;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
