@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #3b82f6; /* Default color */
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}
